@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

body {
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	background-image: url(images/greenhouse-pixel-art.webp);
	background-size: 87%;
	background-position-x: -65%;
}

#main {
	height: 100%;
	padding: 0 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(#9198e5, lightgreen);
}

h1 {
	font-family: "Mochiy Pop One", sans-serif;
}

form {
	font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

fieldset {
	display: flex;
	gap: 10px;
	border: none;
}

input,
label {
	display: block;
}
